/* basic style */
:root {
  --black: #2c3e50;
  --green: #64a8f2;
  --gray: #f4f4f4;
  --pink: #00ffbd;
  --darkgray: #d4d4d4;
  --darkGreen: #1769aa;
  --lightGreen: #f0f8ff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
li {
  color: var(--black);
  line-height: 40px;
}
p,
li {
  font-size: 18px;
  line-height: 40px;
}
.hover-dot {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.hover-dot-image {
  position: absolute;
  right: -40px; /* Start from further left */
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: auto;
  opacity: 1; /* Initially invisible */
  transition: opacity 0.3s ease, right 0.3s ease;
  z-index: 1;
}

.hover-dot:hover .hover-dot-image {
  opacity: 1;
  right: -20px; /* Final position */
}

/* scrollbar customize */
::-webkit-scrollbar {
  width: 0px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 10px; /* Roundness of the thumb */
  border: 0px solid #f1f1f1; /* Adds a border around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7c7c7c; /* Color of the thumb on hover */
}

/* portfolio page mobile sidebar horizon scroll customize code */
.scroll-container {
  white-space: nowrap;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 #f0f0f0; /* For Firefox: thumb and track color */
}
.scroll-container::-webkit-scrollbar {
  height: 8px; /* Scrollbar height */
}

.scroll-container::-webkit-scrollbar-track {
  background: #f0f0f0; /* Scrollbar track color */
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar thumb color */
  border-radius: 10px;
  border: 2px solid #f0f0f0; /* Creates some padding from track edges */
}

/* Optional: Add a hover effect to the scrollbar thumb */
.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* common style */

/* home style */
.glitch-title {
  display: flex;
}
.glitch-title img {
  width: 30%;
  align-items: center;
}
.blog-tag {
  padding: 6px 16px;
  margin: 4px 8px;
  background-color: var(--gray);
  color: var(--black);
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  font-weight: 450;
  border: 1px dotted #a9a9a9;
}
.bitcoin-tag {
  color: #696401;
  background-color: #eeebb5 !important;
  border: 1px dotted #bbb200;
}
.frontend-tag {
  color: #0969da;
  background-color: #ddf4ff !important;
  border: 1px dotted #4b9cfa;
}
.blockchain-tag {
  color: #510e31 !important;
  background-color: rgb(213, 179, 246) !important;
  border: 1px dotted #ec6bae;
}
.polkadot-tag {
  color: #e80c81;
  background-color: #ffd4e1 !important;
  border: 1px dotted #f064af;
}
.substrate-tag {
  color: #00482a;
  background-color: #aaf4d5 !important;
  border: 1px dotted #0eca7b;
}
.ai-tag {
  color: #01645c;
  background-color: #bffffa !important;
  border: 1px dotted #0eca7b;
}
.eth-tag {
  color: #112b90;
  background-color: #c8d3ff !important;
  border: 1px dotted #3b5fed;
}
.rust-tag {
  color: #672601;
  background-color: #fcd5be !important;
  border: 1px dotted #e16f2d;
}
.portfolio-tag {
  /* display: block; */
  width: fit-content;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 6px 16px;
  margin: 4px 8px;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  color: var(--black);
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 10;
}
.portfolio-tag span {
  position: absolute;
  background-color: rgb(255, 19, 19);
  color: white;
  border-radius: 100%;
  padding: 1px 7px;
  font-weight: 700;
  top: -9px;
  right: -11px;
  box-shadow: 0 2px 4px rgba(79, 192, 214, 0.2);
}
.tag-grp {
  display: flex;
  flex-wrap: wrap;
}
.blog-ttl {
  border-bottom: 1px solid var(--gray);
  padding-bottom: 32px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-ttl h1 {
  text-align: center;
}

.blog-main {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-main > div {
  width: 60%;
}
.blog-footer {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes gradientChangeTxt {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-text {
  background: linear-gradient(90deg, var(--pink), var(--green), var(--pink));
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientChangeTxt 4s ease infinite;
  font-weight: 600;
}
.home-gradient-text {
  background: linear-gradient(120deg, var(--green), var(--pink), var(--green));
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientChangeTxt 4s ease infinite;
  font-size: 32px;
  font-weight: 600;
}
.home-gradient-text span {
  font-weight: 700;
  font-size: 34px;
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@keyframes gradientChangePan {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* .contact-link {
  padding: 5px;
  border-radius: 100%;
  border: 1px dotted var(--green);
  margin-left: 6px;
  margin-right: 6px;
  transition-duration: 150ms;
} */
 .home-contact-grp {
  margin-top: 56px;
 }
.contact-link img {
  width: 32px;
  height: auto;
  margin-left: 6px;
  margin-right: 6px;
  transition-duration: 150ms;
  animation-duration: ease-in-out;
}
.contact-link img:hover {
  scale: 115%;
  transition-duration: 150ms;
  animation-duration: ease-in-out;
}
.gradient-pan {
  background: linear-gradient(
    60deg,
    var(--pink),
    var(--green),
    var(--pink)
  );
  background-size: 200% 200%;
  animation: gradientChangePan 4s ease infinite;
  font-weight: 600;
  color: white;
  display: inline-block;
}

/* end common style */
.top-div {
  overflow-y: hidden;
}
.home-quote {
  font-style: italic;
  font-weight: 400;
  border-radius: 8px;
  background: #f4f4f4;
  width: fit-content;
  padding-left: 24px;
  padding-right: 24px;
}
.logo {
  width: 72px;
  height: auto;
}
.logo:hover {
  scale: 120%;
  transition-duration: 120ms;
  animation-duration: ease-in-out;
}
.home-subtitle {
  display: flex;
  align-items: center;
  gap: 4px;
}
.home-grp {
  padding-bottom: 10px;
  margin-bottom: 40px;
  border-bottom: 1px dotted var(--gray);
}
.private-link {
  color: rgb(165, 165, 165) !important;
  text-decoration: underline !important;
  font-size: 18px !important;
  font-weight: 600;
  cursor: not-allowed;
}

.mainnav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  box-sizing: border-box;
  border-bottom: 1px solid #dddddd;
  z-index: 999;
}

.mainroutes {
  margin-top: 95px;
  box-sizing: border-box;
}
.home-pan {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 30px;
}
.person-intro {
  color: #7b7b7b;
}
.post-date {
  font-weight: 400;
  font-size: 20px;
  font-style: italic;
  color: #7b7b7b;
}
.blog-tag-grp {
  margin-top: 70px;
}

.bloglink1 {
  margin-left: 3%;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  font-size: 18px;
}
.real-bloglink {
  width: 100%;
}
.bloglink {
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
}
.home-ttl {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
.type-writter-effect {
  text-align: start;

  font-size: 24px;
  color: var(--green);
  font-weight: 600;
}
.typewriter-prefix {
  text-align: start;

  font-size: 22px;
  color: var(--black);
  font-weight: 400;
}
.type-writter-cursor {
  color: var(--green);
}

.type-writter-effect .type-writter-cursor {
  animation: blink-cursor 0.75s step-end infinite;
}
.table-of-contents h3 {
  color: var(--green);
}

@keyframes blink-cursor {
  from,
  to {
    color: transparent;
  }
  50% {
    color: var(--green);
  }
}

/* common style */
.dot-ttl {
  display: flex;
  align-items: start;
  gap: 4px;
}
code {
  color: var(--black);
  background-color: var(--gray);
  padding: 6px 12px;
}
.doc-link {
  font-style: italic !important;
  text-decoration: underline !important;
  color: var(--green) !important;
  font-size: 18px !important;
  transition: color 0.3s ease, color 0.3s ease !important;
  font-weight: 600 !important;
}
.doc-link:hover {
  color: #84acf8 !important;
  text-decoration: underline !important;
}
.private-link {
  font-style: italic;
  text-decoration: none;
  color: rgb(69, 69, 69);
  font-size: 20px;
  transition: color 0.3s ease, color 0.3s ease;
  cursor: disabled !important;
}
.disabled-link {
  background-color: var(--gray);
  padding: 0px 12px;
  border-radius: 20px;
}
.dedust-img img{
  width: 100% !important;
  border-radius: 10px;
}
/* style of portfolio */
.portfolio-sidebar {
  display: flex;
  margin-left: 2vw;
  margin-top: 20px;
  border: none;
  flex-direction: column;
  width: 15%;
  position: fixed;
  height: 100vh;
  gap: 16px;
  background-color: transparent;
}
.mobile-portfolio-sidebar {
  position: fixed;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  background-color: white;
  width: 86vw;
  padding-right: 24px;
  margin-top: -12px;
  padding-top: 28px;
  padding-bottom: 12px;
}
/* about page */
.about-main {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-main h1,
.about-main p {
  width: 40vw;
}
.about-main h1 {
  text-align: center;
}
.about-main p {
  font-size: 20px;
}
.about-logo {
  width: 28px;
  height: auto;
}
.brixo-sub-image-pan {
  display: flex !important;
  flex-direction: row !important;
}

.brixo-sub-image {
  width: 33% !important;
  border-radius: 16px;
}
.brixo-doc-link {
  display: flex;
  flex-direction: column;
}
.sub-img {
  border-radius: 20px;
}

/* Responsive Styles */
@media (min-width: 1025px) {
  .mobile-mainnav {
    display: none;
  }
}
@media (max-width: 1024px) {
  .about-main h1,
  .about-main p {
    width: 60vw;
  }
  .glitch-title img {
    width: 50%;
    align-items: center;
  }
  .mobile-mainnav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1em;
    padding-left: 15vw;
    padding-right: 15vw;
    justify-content: space-between;
    align-items: center;
  }
  .mainnav {
    display: none;
  }
  .hamburger-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    transition: transform 0.3s ease;
  }

  .hamburger-btn .bar1,
  .hamburger-btn .bar2,
  .hamburger-btn .bar3 {
    width: 100%;
    height: 3px;
    background-color: var(--black);
    transition: all 0.3s ease;
  }

  .hamburger-btn.open .bar1 {
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  .hamburger-btn.open .bar2 {
    opacity: 0;
  }

  .hamburger-btn.open .bar3 {
    transform: rotate(45deg) translate(-7px, -7px);
  }
  .mobile-nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 93px;
    right: 15vw;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    padding: 1em;
    z-index: 998;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.3s ease;
    padding: 16px 40px;
  }

  .mobile-nav-links.show {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }

  .mobile-nav-links a {
    margin-bottom: 0.5em;
    font-size: 24px;
    color: var(--black);
    text-decoration: none;
  }
}

@media (max-width: 920px) {
  .projects-overview {
    width: 50vw !important;
  }
}

@media (max-width: 768px) {
  .seo-img-pan {
    width: 61vw !important;
  }
  .sub-img {
    width: 99vw;
    height: auto;
  }
  .blog-main > div {
    width: 90%;
  }
  .about-main h1,
  .about-main p {
    width: 70vw;
  }
  .mainroutes {
    padding-left: 5%;
    padding-right: 5%;
  }
  .home-pan {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 30px;
  }
  .home-quote-ttl {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-direction: column;
  }
  .projects-overview {
    width: 86vw !important;
  }
  .project-detail-description > div {
    width: 87% !important;
  }
}
@media (max-width: 425px) {
  .seo-img-pan {
    width: 75vw !important;
  }
  .blog-main > div {
    width: 95%;
  }
  .project-detail-description > div {
    width: 94% !important;
  }
  .home-rust-subttl {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .about-main h1,
  .about-main p {
    width: 80vw;
  }
  .glitch-title img {
    width: 70%;
  }
  .home-pan {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 30px;
  }
  .home-gavin {
    display: flex;
    flex-direction: column;
  }
  .home-gavin > span {
    text-align: center;
  }
  .mobile-nav-links a {
    font-size: 24px;
  }
}

/* style of table of contents */

.table-of-contents {
  position: fixed;
  top: 90px;
  right: 20px;
  width: 300px !important;
  background-color: transparent;
  z-index: 1000;
  padding: 10px;
  overflow: auto;
  max-height: 90vh;
}

.table-of-contents strong {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

.table-of-contents ol {
  list-style: circle;
  margin: 0;
  padding: 0;
  line-height: 1;
  margin-left: 16px;
}
.table-of-contents li a {
  text-decoration: none !important;
  font-size: 16px !important;
  color: var(--black);
  display: block;
}

.table-of-contents li.active a {
  color: var(--green);
}

/* Smooth scroll for the entire document */
html {
  scroll-behavior: smooth;
}
